<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Welcome to the Todo App!</h1>
    <h2>My Todos:</h2>
    <ul id="todo-list">

    </ul>
    <input type="text" id="todo" autocomplete="off" name="task" class="input" placeholder="Task">
    <button class="button" id="add-todo" onclick="addTodo()">Add Todo</button>
    <button class="button" id="load-todos" onclick="loadTodos()">Load Todos</button>




    <script>
        function loadTodos() {
            fetch('/todos')
                .then(function (response) {
                    return response.json();
                })
                .then(function (todos) {

                    const list = document.getElementById('todo-list');


                    for (let i = 0; i < todos.length; i++) {
                        const todo = todos[i];

                        const li = document.createElement('li');
                        li.textContent = todo.task;

                        li.id = "task" + todo.task;

                        const checkboxId = "checkbox" + todo.task;

                        var checkbox = document.createElement('input');
                        checkbox.type = "checkbox";
                        checkbox.id = checkboxId;
                        checkbox.checked = false;
                        checkbox.classList.add("cyberpunk-checkbox");
                        




                        var label = document.createElement('label');
                        label.htmlFor = checkboxId;
                        label.appendChild(document.createTextNode("Done?"));


                        li.appendChild(checkbox);
                        li.appendChild(label);

                        list.appendChild(li);
                        checkbox.addEventListener('change', function (event) {
                            const checkboxid = event.target.id;
                            const taskName = checkboxid.replace("checkbox", ""); // extract task name

                            deleteData(taskName); // send string
                            const taskElement = document.getElementById("task" + taskName);
                            taskElement.remove();
                        });
                    }

                })
                .catch(function (error) {
                    console.log("Error fetching todos:", error);
                });
        }




        function addTodo() {
            const input = document.getElementById("todo");
            const taskValue = input.value.trim();

            if (taskValue === "") {
                alert("Please enter a task!");
                return;
            }

            fetch("/todos", {
                method: "POST",
                body: JSON.stringify({
                    task: taskValue
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
                .then(response => response.json())
                .then(json => {

                    document.getElementById("todo-list").innerHTML = "";
                    loadTodos();
                    document.getElementById("todo").value = "";
                })
                .catch(error => console.error("Error adding todo:", error));
        }
        function deleteData(task) {

            return fetch("/todos" + '/' + task, {
                method: 'delete'
            })
        }
    </script>

</body>

</html>